<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
	============================================= -->
    <link
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700&display=swap"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/onepage.css" type="text/css" />
    <link rel="stylesheet" href="/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/et-line.css" type="text/css" />
    <link rel="stylesheet" href="/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>The Fun Movement</title>

</head>

<body class="stretched side-push-panel">

    <div class="body-overlay"></div>

    <div id="side-panel" class="dark">

        <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a>
        </div>

        <div class="side-panel-wrap">

            <div class="widget widget_links clearfix">

                <h4>Connect with Alexx:</h4>
                <div style="font-size: 14px; line-height: 1.7;">
                    <div class="clear topmargin-sm"></div>
                    <abbr title="Email Address">Email:</abbr> aharleydev@gmail.com
                </div>

            </div>

            <div class="widget clearfix">

                <h4>Connect Socially</h4>

                <a href="https://twitter.com/DevHarleyA" target="_blank" class="social-icon si-small si-colored si-twitter"
                    title="Twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>
                <a href="https://github.com/DevHarleyA" target="_blank" class="social-icon si-small si-colored si-github"
                    title="Github">
                    <i class="icon-github"></i>
                    <i class="icon-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/harleyalexandra/" target="_blank"
                    class="social-icon si-small si-colored si-linkedin" title="LinkedIn">
                    <i class="icon-linkedin"></i>
                    <i class="icon-linkedin"></i>
                </a>

            </div>

        </div>

    </div>

    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
		============================================= -->
        <header id="header" class="full-header dark header-size-custom" data-sticky-shrink="false"
            data-sticky-class="not-dark">
            <div id="header-wrap">
                <div class="container">
                    <div class="header-row">


                        <div id="logo">
                            <a href="/" class="standard-logo">TFM</a>
                            <a href="/" class="retina-logo">TFM</a>
                        </div>

                        <div class="header-misc">

                            <div class="side-panel-trigger header-misc-icon">
                                <a href="#"><i class="icon-ellipsis-v"></i></a>
                            </div>

                        </div>

                        <div id="primary-menu-trigger">
                            <svg class="svg-trigger" viewBox="0 0 100 100">
                                <path
                                    d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
                                </path>
                                <path d="m 30,50 h 40"></path>
                                <path
                                    d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
                                </path>
                            </svg>
                        </div>

                        <!-- Primary Navigation
						============================================= -->
                        <nav class="primary-menu">

                            <ul class="one-page-menu menu-container" data-easing="easeInOutExpo" data-speed="1250"
                                data-offset="65">
                                <li class="menu-item">
									<a href="/" class="menu-link">
										<div>Home</div>
									</a>
								</li>
                                <li class="menu-item">
									<a href="#" class="menu-link">
										<div>About</div>
									</a>
								</li>
                                <li class="menu-item">
									<a href="/login" class="menu-link">
										<div>Log-In</div>
									</a>
								</li>
                                <li class="menu-item">
									<a href="/signup" class="menu-link">
										<div>Sign-Up</div>
									</a>
								</li>
                            </ul>

                        </nav><!-- #primary-menu end -->

                    </div>
                </div>
            </div>
            <div class="header-wrap-clone"></div>
        </header><!-- #header end -->

        <section>

			<div class="container clearfix">
				<h1 class="mt-5">FAQs</h1>
				<br>
			</div>
            <div class="container">
                <div class="accordion" data-collapsible="true">

                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-line-chevrons-down"></i>
                            <i class="accordion-open icon-line-chevrons-up"></i>
                        </div>
                        <div class="accordion-title">
                            What is this site?
                        </div>
                    </div>
                    <div class="accordion-content">This application serves as a tool for families to find and pursue their next adventure.  These "adventures" are designed to not only serve as a fun activity for the family, but an opportunity for children to explore new themes and deepen their imagination within their homes, and the communities surrounding them.</div>
                
                    <div class="accordion-header">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-line-chevrons-down"></i>
                            <i class="accordion-open icon-line-chevrons-up"></i>
                        </div>
                        <div class="accordion-title">
                            How do I use this site?
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>To get started on TFM:</p>
                        <ol>
                            <p>1. Make an account</p>
                            <p>2. Explore the different virtual and outdoor adventures with your child(ren)!</p>
                        </ol>
                        <p>Please reach out if you would like assistance with navigating this database or have suggestions about making it more accessible for all.</p>
                    </div>
                
                    <div class="accordion-header" id="id-accordion-3">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-line-chevrons-down"></i>
                            <i class="accordion-open icon-line-chevrons-up"></i>
                        </div>
                        <div class="accordion-title">
                            How can I add an activity?
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>At this time, please reach out via email at aharleydev@gmail.com with any fun, accessible, and affordable adventure ideas you may have! Our adventure lists are constantly growing!</p> 
                        <p>Currently for Philadelphia and it's neighboring counties.</p>
                    </div>

                    <div class="accordion-header" id="id-accordion-3">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-line-chevrons-down"></i>
                            <i class="accordion-open icon-line-chevrons-up"></i>
                        </div>
                        <div class="accordion-title">
                            Where can I find a list of all of the places in my area that accept an ACCESS/EBT card?
                        </div>
                    </div>
                    <div class="accordion-content">
                        <p>A list of places can be found here: <a href="https://www.art-reach.org/access-program/access-philly/access-admission-partners/">ACCESS Philly</a> This site had a list of places including gardens, museums, music & dance, theaters, and more!</p>
                    </div>

                    <div class="accordion-header" id="id-accordion-3">
                        <div class="accordion-icon">
                            <i class="accordion-closed icon-line-chevrons-down"></i>
                            <i class="accordion-open icon-line-chevrons-up"></i>
                        </div>
                        <div class="accordion-title">
                            What are other ways I can access different opportunities in the City of Philadelphia?
                        </div>
                    </div>
                    <div class="accordion-content">
                        <h4>Free Library of Philadelphia</h4>
                        <p>There are so many resources around the city! One recommendation is to get a <span class="fw-bold">Free Library of Philadelphia Card</span>. There are so many resources, both virtual and in-person, that a library card gives you acces to. Visit or contact your local library branch today to learn mroe about all the different programs and services they offer for all (adults & children).</p>
                        <p><a href="https://www.freelibrary.org/">Website</a></p>
                        <h4>City of Philadelphia: Culture & Recreation</h4>
                        <p>Use this site to search for events in Philadelphia parks as well as summer camp opportunites for children.</p>
                        <p><a href="https://www.phila.gov/services/culture-recreation/activities-and-events/">Website</a></p>
                    </div>
                
                </div>
            </div>

        </section>

        <!-- Footer
		============================================= -->
        <footer id="footer" class="dark border-0">

            <div class="container center">
                <div class="footer-widgets-wrap">

                    <div class="row mx-auto clearfix">

                        <div class="col-lg-4">

                            <div class="widget clearfix">
                                <h4>Site Links</h4>

                                <ul class="list-unstyled footer-site-links mb-0">
                                    <li><a href="#" data-scrollto="#wrapper" data-easing="easeInOutExpo"
                                            data-speed="1250" data-offset="70">Top</a></li>
                                    <li><a href="/">Home Page</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">Sign-Up</a></li>
                                </ul>
                            </div>

                        </div>

                        <div class="col-lg-4">

                            <div class="widget clearfix">
                                <h4>Contact / Connect</h4>

                                <p class="lead">Do you have more questions? <br> Please email: <br>aharleydev@gmail.com</p>

                                <div class="center topmargin-sm">
                                    <a href="https://twitter.com/DevHarleyA" target="_blank"
                                        class="social-icon inline-block border-0 si-small si-twitter" title="Twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="https://github.com/DevHarleyA" target="_blank"
                                        class="social-icon inline-block border-0 si-small si-github" title="Github">
                                        <i class="icon-github"></i>
                                        <i class="icon-github"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/in/harleyalexandra/" target="_blank"
                                        class="social-icon inline-block border-0 si-small si-linkedin" title="LinkedIn">
                                        <i class="icon-linkedin"></i>
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div id="copyrights">
                <div class="container center clearfix">
                    Copyright &copy; DevHarleyA 2022 || All Rights Reserved
                </div>
            </div>

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
	============================================= -->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.min.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="/js/functions.js"></script>

</body>

</html>